html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #efefef;
  text-align: center;
}

.container {
  width: 640px;
  height: 1089px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 5px #ffd800;
  border-right: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
  background-color: #ffffff;
}

.header {
  width: 640px;
  height: 122px;
  text-align: center;
}

.header img {
  width: 188px;
  height: 39px;
  margin-top: 42px;
  margin-bottom: 41px;
}

.main {
  display: inline-block;
  width: 640px;
  height: 174px;
  background-color: #ffd800;
  text-align: center;
}

.main h1 {
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  color: #414141;
  margin-top: 36px;
  margin-bottom: 7px;
}

.main h2 {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #414141;
  margin-top: 0px;
  margin-bottom: 46px;
}

.content {
  display: inline-block;
  width: 640px;
  text-align: center;
}

.content p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #7b7b7b;
  margin-top: 38px;
  margin-bottom: 0px;
}

.content img {
  width: 437px;
  height: 270px;
  margin-top: 32px;
  margin-bottom: 25px;
}

.content button {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  color: #535353;
  background-color: #ffd600;
  border-radius: 3px;
  border: 0px;
  width: 187.27px;
  height: 46px;
  margin-top: 13px;
  margin-bottom: 25px;
}

.content .note {
  margin-top: 0px;
}

.footer p{
 font-family: "PT Sans";
 font-size: 12px;
 font-weight: normal;
 line-height: 15px;
 color: #7b7b7b;
 margin-top: 0px;
 margin-bottom: 0px;
}
