<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{appName}}</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" />
  <style type="text/css">
    .wrapper{ width: 640px !important; }
    .content p{ font-size: 17px !important; }
    .footer p{ font-size: 12px; }
    @media only screen and (max-width: 450px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 30px; }
      .heading a{ font-size: 11px !important; width: 240px !important; }
    }
    @media only screen and (max-width: 350px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 25px; }
      .heading a{ font-size: 11px !important; width: 230px !important; }
      .footer p{ margin-left: 8px; margin-right: 8px; font-size: 12px; }
    }
  </style>
</head>
<body style="background-color: #efefef; padding-top:40px; padding-bottom:40px;">
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper" style="margin-left: auto; margin-right: auto;">
  <tr><td>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse; border-top:solid 5px #ffd800; border-right: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2; border-left: solid 1px #e2e2e2; background-color: #ffffff;">
      <!-- HEADER -->
      <tr>
        <td style="text-align: center;">
          <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-newsletter/brucely_summary_welcome_logo.png" alt="Brucely" style="width: 178px; margin-top: 47px; margin-bottom: 41px;">
        </td>
      </tr>
      <!-- CONTENT -->
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" class="heading" width="100%" style="text-align: center; margin-left: auto; margin-right: auto; background-color: #ffd600;">
            <tr><td>
              <h1 style="font-family: 'Open Sans'; font-size: 36px; font-weight: bold; line-height: 49px; color: #505050; margin-top: 53px; margin-bottom: 0px;">
                Introducing FlexQ
              </h1>
            </td></tr>
            <tr><td>
              <h2 style="font-family: 'Open Sans'; font-size: 16px; font-weight: bold; line-height: 18px;
                                  color: #414141; margin-top: 0px; margin-bottom: 10px; padding-left:0px; padding-right:0px;">
                The customisable questionnaires.
              </h2>
            </td></tr>
            <tr><td>
              <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-assets/announcement-image.png" alt="Brucely" style="width: 47%; margin-top: 14px; margin-bottom: 10px;">
            </td></tr>
            <tr><td style="text-align: center;">
              <table border="0" cellpadding="0" cellspacing="0" width="68%" style="text-align: center; margin-bottom: 53px; margin-left: auto; margin-right: auto; ">
                <tr><td>
                  <h2 style="font-family: 'Open Sans'; font-size: 13px; font-weight: normal; line-height: 20px; color: #565656;">
                    Now your team's admin can customise the questions. No longer the same generic
                    'what you did yesterday' &amp; 'what are you doing today'.
                  </h2>
                </td></tr>
              </table>
            </tr></td>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" class="heading" width="87%" style="text-align: center; margin-left: auto; margin-right: auto; ">
            <tr><td style="border-bottom: solid 1px #ededed;">
              <table border="0" cellpadding="0" cellspacing="0" width="90%" style="text-align: center; margin-left: auto; margin-right: auto;">
                <tr><td>
                  <h1 style="font-family: 'PT Sans'; font-size: 20px; font-weight: bold; line-height: 23px; color: #7b7b7b; margin-top: 52px; margin-bottom: 10px;">
                    🙌 Managing diverse team is a pain. We're fixing it.
                  </h1>
                </td></tr>
                <tr><td>
                  <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: normal; line-height: 18px;
                                      color: #7b7b7b; margin-top: 10px; margin-bottom: 35px; padding-left:0px; padding-right:0px;">
                    Sales team? Development team? Operation team? Brucely's got your back. You can create specific
                    questions under different lists - all drag and drop. How cool is that?
                  </h2>
                </td></tr>
              </table>
            </td></tr>
            <tr><td style="border-bottom: solid 1px #ededed;">
              <table border="0" cellpadding="0" cellspacing="0" width="80%" style="text-align: center; margin-left: auto; margin-right: auto;">
                <tr><td>
                  <h1 style="font-family: 'PT Sans'; font-size: 20px; font-weight: bold; line-height: 23px; color: #7b7b7b; margin-top: 22px; margin-bottom: 10px;">
                    🤔 Why did we build this?
                  </h1>
                </td></tr>
                <tr><td>
                  <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: normal; line-height: 18px;
                                      color: #7b7b7b; margin-top: 10px; margin-bottom: 37px; padding-left:0px; padding-right:0px;">
                    We built FlexQ as we're getting bored of answering the generic questions daily.
                    Why not we make them more specific to your team?
                  </h2>
                </td></tr>
              </table>
            </td></tr>
            <tr><td>
              <table border="0" cellpadding="0" cellspacing="0" width="80%" style="text-align: center; margin-left: auto; margin-right: auto;">
                <tr><td>
                  <h1 style="font-family: 'PT Sans'; font-size: 20px; font-weight: bold; line-height: 23px; color: #7b7b7b; margin-top: 14px; margin-bottom: 10px;">
                    😍 Did we mention it's free?
                  </h1>
                </td></tr>
                <tr><td>
                  <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: normal; line-height: 18px;
                                      color: #7b7b7b; margin-top: 10px; margin-bottom: 35px; padding-left:0px; padding-right:0px;">
                    Our subscribers will continue to receive the latest premium features at no extra cost.
                    You can think us by customising your team's FlexQ now, it takes just 3 minutes to set up!
                  </h2>
                </td></tr>
                <tr><td>
                  <a href="http://www.google.com" style="display:inline-block; font-family: 'Open Sans'; font-size: 14px; font-weight: bold; line-height: 46px; color: #535353; background-color: #ffd600;
                                      border-radius: 3px; border: 0px; width: 264px; height: 46px; margin-top: 14px; margin-bottom: 58px; text-decoration:none;">
                    CHECK OUT FLEXQ NOW
                  </a>
                </td></tr>
              </table>
            </td></tr>
          </table>
        </td>
      </tr>
    </table>
  </td></tr>
  <!-- FOOTER -->
  <tr class="footer">
    <td>
      <br/>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            Need support? Send us a request at {{supportEmail}}.
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            You received this email because you signed up for Brucely with this email address.<br />
          </p>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            If you don't want to receive any of our emails anymore, <a href="{{unsubscribeURL}}" style="color: #535353;">Unsubscribe here</a> :(
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            <b>{{appName}} - Flash Reporting Always</b>
          </p>
        </td></tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
