<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{appName}}</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" />
  <style type="text/css">
    .wrapper{ width: 640px !important; }
    .content p{ font-size: 17px !important; }
    .footer p{ font-size: 12px; }
    @media only screen and (max-width: 450px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 20px; }
      .heading a{ font-size: 13px !important; }
    }
    @media only screen and (max-width: 350px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 18px; }
      .heading a{ font-size: 13px !important; }
      .footer p{ margin-left: 10px; margin-right: 8px; font-size: 12px; }
    }
  </style>
</head>
<body style="background-color: #efefef; padding-top:40px; padding-bottom:40px;">
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper" style="margin-left: auto; margin-right: auto;">
  <tr><td>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse; border-top:solid 5px #ffd800; border-right: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2; border-left: solid 1px #e2e2e2; background-color: #ffffff;">
      <!-- HEADER -->
      <tr>
        <td style="text-align: center;">
          <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-newsletter/brucely_summary_welcome_logo.png" alt="Brucely" style="width: 178px; margin-top: 47px; margin-bottom: 41px;">
        </td>
      </tr>
      <!-- CONTENT -->
      <tr>
        <td style="text-align: center;">
          <table border="0" cellpadding="0" cellspacing="0" class="heading" style="width: 86%; text-align: center; margin-left: auto; margin-right: auto; ">
            <tr><td>
              <h1 style="font-family: 'Open Sans'; font-size: 24px; font-weight: bold; line-height: 33px; color: #505050; margin-top: 6px; margin-bottom: 5px;">
                We’ll remind you to check in from now onwards!
              </h1>
            </td></tr>
            <tr><td class="inheading" style="border-bottom: solid 1px #ededed;">
              <table border="0" cellpadding="0" cellspacing="0" style="width: 80%; text-align: center; margin-top: 14px; margin-bottom: 56px; margin-left: auto; margin-right: auto; ">
                <tr><td>
                  <h2 style="font-family: 'PT Sans'; font-size: 15px; font-weight: normal; line-height: 24px;
                                      color: #7b7b7b; margin-top: 0px; margin-bottom: 10px; ">
                  Your subscription to Brucely is confirmed!<br>
                  You’ll be receiving regular check-in reminders from us.<br>
                  Set your reminder preferences here.
                  </h2>
                </td></tr>
              </table>
            </td></tr>
          </table>
        </td>
      </tr>
    </table>
  </td></tr>
  <!-- FOOTER -->
  <tr class="footer">
    <td>
      <br/>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            Need support? Send us a request at {{supportEmail}}.
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            Not you? Didn’t make this subscription? Click here to <a href="{{url}}" style="color: #535353;">unsubscribe</a> :(
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            <b>{{appName}} - Flash Reporting Always</b>
          </p>
        </td></tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
