<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{appName}}</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" />
  <style type="text/css">
    .wrapper{ width: 640px !important; }
    .content p{ font-size: 17px !important; }
    .footer p{ font-size: 12px; }
    @media only screen and (max-width: 450px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 30px; }
    }
    @media only screen and (max-width: 350px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 25px; }
      .footer p{ margin-left: 8px; margin-right: 8px; font-size: 12px; }
    }
  </style>
</head>
<body style="background-color: #efefef; padding-top:70px; padding-bottom:40px;">
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper" width="100%" style="margin-left: auto; margin-right: auto;">
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <tr>
          <td style="text-align: center;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" style="table-layout:fixed; border:0px; background-color: #efefef;">
              <tr>
                <td style="background-color: transparent; overflow:hidden; height: 28px;"></td>
                <td rowspan="3"  style="background-color: transparent;">
                  <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-newsletter/brucely_notification_logo.png" alt="Brucely" style="width: 125px;">
                </td>
                <td style="background-color: transparent; overflow:hidden; height: 28px;"></td>
              </tr>
              <tr>
                <td colspan="3" style="background-color: transparent; overflow:hidden; height: 28px;"></td>
              </tr>
              <tr>
                <td colspan="3" style="border-top:solid 5px #ffd800; border-right: solid 1px #e2e2e2; border-left: solid 1px #e2e2e2; background-color: #ffffff; overflow:hidden; height: 28px;"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper" width="100%" style="margin-left: auto; margin-right: auto;">
  <tr><td>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-top:0px; border-right: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2; border-left: solid 1px #e2e2e2; background-color: #ffffff;">
      <!-- HEADER -->
      <!-- <tr>
        <td style="text-align: center;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:0px; background-color: #efefef;">
            <tr>
              <td style="background-color: transparent;">1</td>
              <td rowspan="3"  style="background-color: transparent;">
                <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-newsletter/brucely_notification_logo.png" alt="Brucely" style="width: 125px;">
              </td>
              <td style="background-color: transparent;">3</td>
            </tr>
            <tr>
              <td colspan="3" style="background-color: transparent;">2</td>
            </tr>
            <tr>
              <td colspan="3" style="background-color: #00ff00;">3</td>
            </tr>
          </table>
        </td>
      </tr> -->
      <!-- CONTENT -->
      <tr>
        <td style="text-align: center;">
          <table border="0" cellpadding="0" cellspacing="0" class="heading" width="100%" style="background-color: #ffffff;">
            <tr><td>
              <h1 style="font-family: 'Open Sans'; font-size: 24px; font-weight: bold; line-height: 33px; color: #7b7b7b; margin-top: 48px; margin-bottom: 0px;">
                Hi {{name}},
              </h1>
            </td></tr>
            <tr><td>
              <h2 style="font-family: 'PT Sans'; font-size: 18px; font-weight: normal; line-height: 30px; color: #7b7b7b; margin-top: 12px; margin-bottom: 22px;">
                Do you have 30 seconds for the check in today, {{todayDate}}?
              </h2>
            </td></tr>
            <tr><td>
              <a href="{{url}}" style="display:inline-block; font-family: 'Open Sans'; font-size: 14px; font-weight: bold; line-height: 46px; color: #535353; background-color: #ffd800;
                                  border-radius: 3px; border: 0px; width: 185px; height: 41px; text-decoration:none; margin-top: 0px; margin-bottom: 58px;">
                CHECK IN
              </a>
            </td></tr>
          </table>
        </td>
      </tr>
    </table>
  </td></tr>
  <!-- FOOTER -->
  <tr class="footer">
    <td>
      <br/>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            For support requests, just send us an email at {{supportEmail}}.
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            You're getting this message because your {{appName}} account is connected to this email address.<br />
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            <b>{{appName}} - Flash Reporting Always</b>
          </p>
        </td></tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
