<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{appName}}</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" />
  <style type="text/css">
    .wrapper{ width: 640px !important; }
    .content p{ font-size: 17px !important; }
    .footer p{ font-size: 12px; }
    @media only screen and (max-width: 450px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 30px; }
      .heading a{ font-size: 11px !important; }
    }
    @media only screen and (max-width: 350px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 25px; }
      .heading a{ font-size: 5px !important; }
      .footer p{ margin-left: 10px; margin-right: 8px; font-size: 12px; }
    }
  </style>
</head>
<body style="background-color: #efefef; padding-top:40px; padding-bottom:40px;">
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper" style="margin-left: auto; margin-right: auto;">
  <tr><td>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse; border-top:solid 5px #ffd800; border-right: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2; border-left: solid 1px #e2e2e2; background-color: #ffffff;">
      <!-- HEADER -->
      <tr>
        <td style="text-align: center;">
          <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-newsletter/brucely_summary_welcome_logo.png" alt="Brucely" style="width: 178px; margin-top: 47px; margin-bottom: 41px;">
        </td>
      </tr>
      <!-- CONTENT -->
      <tr>
        <td style="text-align: center;">
          <table border="0" cellpadding="0" cellspacing="0" class="heading" style="width: 86%; text-align: center; margin-left: auto; margin-right: auto; ">
            <tr><td>
              <h1 style="font-family: 'Open Sans'; font-size: 24px; font-weight: bold; line-height: 33px; color: #505050; margin-top: 6px; margin-bottom: 5px;">
                Your {{appName}} account is almost ready!
              </h1>
            </td></tr>
            <tr><td class="inheading" style="border-bottom: solid 1px #ededed;">
              <table border="0" cellpadding="0" cellspacing="0" style="width: 80%; text-align: center; margin-top: 14px; margin-bottom: 55px; margin-left: auto; margin-right: auto; ">
                <tr><td>
                  <h2 style="font-family: 'PT Sans'; font-size: 15px; font-weight: normal; line-height: 18px;
                                      color: #7b7b7b; margin-top: 0px; margin-bottom: 20px; ">
                  Thanks for joining {{appName}}! <br />
                  Just one more step to complete your account registration:
                  </h2>
                </td></tr>
                <tr><td style="text-align: center;">
                  <a href="{{url}}" style="display: inline-block; font-family: 'Open Sans'; font-size: 14px; font-weight: bold; line-height: 46px; color: #535353; background-color: #ffd600;
                                      border-radius: 3px; border: 0px; width: 245.6px; height: 46px; margin-top: 12px; margin-bottom: 13px; text-decoration:none;">
                    CLICK HERE TO VERIFY EMAIL
                  </a>
                </td></tr>
                <tr><td>
                  <h3 style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; font-style: italic; line-height: 15px;
                                      color: #7b7b7b; margin-top: 13px; margin-bottom: 11px; ">
                    Didn't make this request? It's okay, you can ignore this e-mail.
                  </h3>
                </td></tr>
                <tr><td>
                  <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: normal; line-height: 18px;
                                      color: #7b7b7b; margin-top: 12px; margin-bottom: 0px; ">
                    <b>Keep kicking butts,</b><br />
                    The {{appName}} Team
                  </h2>
                </td></tr>
              </table>
            </td></tr>
          </table>
        </td>
      </tr>
    </table>
  </td></tr>
  <!-- FOOTER -->
  <tr class="footer">
    <td>
      <br/>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            Need support? Send us a request at {{supportEmail}}.
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            <b>{{appName}} - Flash Reporting Always</b>
          </p>
        </td></tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
