<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{appName}}</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" />
  <style type="text/css">
    .wrapper{ width: 800px !important; }
    .content p{ font-size: 17px !important; }
    .footer p{ font-size: 12px; }
    @media only screen and (max-width: 450px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 30px; }
    }
    @media only screen and (max-width: 350px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 25px; }
      .footer p{ margin-left: 8px; margin-right: 8px; font-size: 12px; }
    }
  </style>
</head>
<body style="width:800px; background-color: #efefef; padding-bottom:40px; margin-left: auto; margin-right: auto;">
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper" style= "border-top:solid 8px #ffd800; margin-left: auto; margin-right: auto;">
  <tr><td>
    <table border="0" cellpadding="0" cellspacing="0" width="80%" style="border-collapse: collapse; border: 0px; background-color: #ffffff; margin-left: auto; margin-right: auto;">
      <!-- HEADER -->
      <tr>
        <td style="text-align: left; background-color: #efefef;">
          <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-newsletter/brucely_summary_welcome_logo.png" alt="Brucely" style="width: 188px; margin-left: 20px; margin-top: 37px; margin-bottom: 30px;">
        </td>
      </tr>
      <!-- CONTENT -->
      <tr>
        <td style="text-align: center;">
          <table border="0" cellpadding="0" cellspacing="0" class="heading" width="100%" style="border-collapse: collapse; border: solid 1px #e2e2e2; background-color: #ffffff;">
            <tr><td>
              <h1 style="font-family: 'Open Sans'; font-size: 24px; font-weight: bold; line-height: 33px; color: #7b7b7b; margin-top: 46px; margin-bottom: 0px;">
                Hi {{name}},
              </h1>
            </td></tr>
            <tr><td>
              <h2 style="font-family: 'PT Sans'; font-size: 15px; font-weight: normal; line-height: 30px; color: #7b7b7b; margin-top: 10px; margin-bottom: 22px;">
                Here is the short summary of what've been accomplished by the team today:
              </h2>
            </td></tr>
            <tr><td>
              <table border="0" cellpadding="0" cellspacing="0" class="heading" width="82%" style="border-collapse: collapse; border-top: 0px; border-right: 0px; border-left: 0px; border-bottom: solid 1px #ececec; background-color: #ffffff; margin-left: auto; margin-right: auto;">
                <tr style="border-collapse: collapse; border-top: 0px; border-right: 0px; border-left: 0px; border-bottom: solid 1px #ececec;">
                  <td width="20%">
                    <img src="{{avatarURL}}" alt="Brucely" style="width: 75px; height:75px; border-radius: 50%; margin-left: 20px; margin-top: 15px; margin-bottom: 15px;">
                  </td>
                  <td width="80%">
                    <table style="margin-left: 41px; text-align: left;">
                      <tr>
                        <td>
                          <h1 style="font-family: 'Open Sans'; font-size: 18px; font-weight: bold; line-height: 24px; color: #7b7b7b; margin-top: 0px; margin-bottom: 0px;">
                            {{name}}
                          </h1>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="{{checkinURL}}" style="display:inline-block; font-family: 'Open Sans'; font-size: 14px; font-weight: bold; line-height: 46px; color: #535353; background-color: #616161;
                                              border-radius: 2px; border: 0px; width: 158.5px; height: 41px; text-decoration:none; margin-top: 0px; margin-bottom: 58px;">
                            CHECK IN NOW
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                {{{block "accomplishmentSummary"}}}
              </table>
            </td></tr>
            <tr><td>
              <a href="{{url}}" style="display:inline-block; font-family: 'Open Sans'; font-size: 14px; font-weight: bold; line-height: 46px; color: #535353; background-color: #ffd800;
                                  border-radius: 2px; border: 0px; width: 290.47px; height: 50px; text-decoration:none; margin-top: 44px; margin-bottom: 73px;">
                VIEW COMPLETE SUMMARY
              </a>
            </td></tr>
          </table>
        </td>
      </tr>
    </table>
  </td></tr>
  <!-- FOOTER -->
  <tr class="footer">
    <td>
      <br/>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            For support requests, just send us an email at {{supportEmail}}.
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            You're getting this message because your {{appName}} account is connected to this email address.<br />
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            <b>{{appName}} - Flash Reporting Always</b>
          </p>
        </td></tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
