<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{appName}}</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" />
  <style type="text/css">
    .wrapper{ width: 640px !important; }
    .content p{ font-size: 17px !important; }
    .footer p{ font-size: 12px; }
    @media only screen and (max-width: 450px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 30px; }
    }
    @media only screen and (max-width: 350px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 25px; }
      .footer p{ margin-left: 8px; margin-right: 8px; font-size: 12px; }
    }
  </style>
</head>
<body style="background-color: #efefef; padding-top:70px; padding-bottom:40px;">
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper" width="100%" style="margin-left: auto; margin-right: auto;">
  <tr>
    <td>
      <img src="https://dummyimage.com/720x16:9/4f4f4f/fff&text=XL" alt="Brucely" style="width: 75px; height:75px; border-radius: 50%; margin-left: 20px; margin-top: 15px; margin-bottom: 15px;">
      ABC
    </td>
  </tr>
</table>

</body>
</html>
