<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{appName}}</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" />
  <style type="text/css">
    .wrapper{ width: 640px !important; }
    .content p{ font-size: 17px !important; }
    .footer p{ font-size: 12px; }
    @media only screen and (max-width: 450px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 30px; }
    }
    @media only screen and (max-width: 350px){
      .wrapper{ width:100%!important; padding: 0 !important; }
      .heading h1{ font-size: 25px; }
      .footer p{ margin-left: 8px; margin-right: 8px; font-size: 12px; }
    }
  </style>
</head>
<body style="background-color: #efefef; padding-top:40px; padding-bottom:40px;">
<table border="0" cellpadding="0" cellspacing="0" align="center" class="wrapper" style="margin-left: auto; margin-right: auto;">
  <tr><td>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse; border-top:solid 5px #ffd800; border-right: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2; border-left: solid 1px #e2e2e2; background-color: #ffffff;">
      <!-- HEADER -->
      <tr>
        <td style="text-align: center;">
          <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-newsletter/brucely_summary_welcome_logo.png" alt="Brucely" style="width: 178px; margin-top: 47px; margin-bottom: 41px;">
        </td>
      </tr>
      <!-- CONTENT -->
      <tr>
        <td style="text-align: center;">
          <table border="0" cellpadding="0" cellspacing="0" class="heading" width="86%" style="text-align: center; margin-left: auto; margin-right: auto; ">
            <tr><td>
              <h1 style="font-family: 'Open Sans'; font-size: 36px; font-weight: bold; line-height: 49px; color: #505050; margin-top: 14px; margin-bottom: 15px;">
                Welcome to {{appName}}!
              </h1>
            </td></tr>
            <tr><td style="border-bottom: solid 1px #ededed;">
              <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: normal; line-height: 18px;
                                  color: #7b7b7b; margin-top: 4px; margin-bottom: 41px; padding-left:0px; padding-right:0px;">
                Welcome to {{appName}}, {{user}}! It's great to have you<br />
                here. Your {{appName}} account for Team {{team}} is ready to go!
              </h2>
            </td></tr>
            <tr><td class="inheading" style="border-bottom: solid 1px #ededed;">
              <table border="0" cellpadding="0" cellspacing="0" width="80%" style="text-align: center; margin-top: 30px; margin-left: auto; margin-right: auto; ">
                <tr><td>
                  <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: normal; line-height: 18px;
                                      color: #7b7b7b; margin-top: 0px; margin-bottom: 20px; ">
                    Meetings ≠ productivity. {{appName}} helps your team to stay productive by making team reporting faster and easier. <br /><br />
                    You'll receive a "magic link" sent only to you and your teammates so {{appName}} can begin collecting each check-ins. <br />
                    You can adjust your preferences in your <b><u>team settings</u></b>.
                  </h2>
                </td></tr>
                <tr><td>
                  <img src="https://s3-ap-southeast-1.amazonaws.com/brucely-assets/welcome-to-brucely.png" alt="Brucely" style="width: 68%; margin-top: 18px; margin-bottom: 25px;">
                </td></tr>
                <tr><td>
                  <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: normal; line-height: 18px;
                                      color: #7b7b7b; margin-top: 0px; margin-bottom: 3px; ">
                    Get tips and inspirations here: <b><u>Introduction to Brucely</u></b>. <br /><br />
                    Feeling lonely in {{team}}? Supercharge your team's productivity and invite your teammates now! 👇
                  </h2>
                </td></tr>
                <tr><td>
                  <a href="{{url}}" style="display:inline-block; font-family: 'Open Sans'; font-size: 17px; font-weight: bold; line-height: 46px; color: #535353; background-color: #ffd600;
                                      border-radius: 3px; border: 0px; width: 187px; height: 46px; margin-top: 11px; margin-bottom: 25px; text-decoration:none;">
                    INVITE MEMBERS
                  </a>
                </td></tr>
              </table>
            </td></tr>
            <tr><td style="border-bottom: solid 1px #ededed;">
              <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: bold; line-height: 18px;
                                  color: #7b7b7b; margin-top: 32px; margin-bottom: 33px; ">
                Coming Soon: <br />
                {{appName}} the Facebook bot! We're still developing it so, stay tuned! 😁
              </h2>
            </tr></td>
            <tr><td style="border-bottom: solid 1px #ededed;">
              <h2 style="font-family: 'PT Sans'; font-size: 14px; font-weight: normal; line-height: 18px;
                                  color: #7b7b7b; margin-top: 32px; margin-bottom: 53px; ">
                Got questions? Shoot us an e-mail! We're always here to help. <br /> <br />
                <b>Keep kicking butts,</b><br />
                The {{appName}} Team
              </h2>
            </tr></td>
          </table>
        </td>
      </tr>
    </table>
  </td></tr>
  <!-- FOOTER -->
  <tr class="footer">
    <td>
      <br/>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            Need support? Send us a request at {{supportEmail}}.
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            You received this email because you signed up for Brucely with this email address.<br />
          </p>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            If you don't want to receive any of our emails anymore, <a href="{{unsubscribeURL}}" style="color: #535353;">Unsubscribe here</a> :(
          </p>
          <br/>
        </td></tr>
        <tr><td>
          <p style="font-family: 'PT Sans'; font-size: 12px; font-weight: normal; line-height: 15px; color: #7b7b7b; margin-top:0px; margin-bottom:0px;">
            <b>{{appName}} - Flash Reporting Always</b>
          </p>
        </td></tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
